* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: var(--cor-fundo);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    -webkit-tap-highlight-color: var(--cor-branco);
    background-color: var(--cor-fundo);
    scroll-behavior: smooth;
    height: 100dvh;
    max-height: 100dvh;
    min-height: 100dvh;
    
}

@media screen and (max-width: 1000px) {
    body {
        overflow: inherit;
    }
}

body.bloquear,
body.bloqueado {
    overflow: hidden !important;
}
/*MUDA A COR QUANTOS SELECIONAS*/
::selection {
    color: var(--cor-ver);
    background-color: #10c7358b;
}

/*Estilizando a barra de Rolgem*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--cor-descricaoNotia);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-amarela);
    border-radius: 20px;
}

a,
img,
svg,
button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: nome;
    user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)  ;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
}

a{
    background-color: transparent;
    cursor: pointer;
}

img {
    border-style: none;
}
svg {
  position: relative;
  z-index: 10; /* garante que fica por cima */
  pointer-events: auto;
}

button {
    font-family: inherit;
    line-height: 1;
    margin: 0;
    -moz-appearance: none !important;
    -webkit-appearance: button;
    appearance: button;
    text-decoration: none;
    overflow: visible;
    cursor: pointer;
}

button * {
  pointer-events: none;
}
input {
  line-height: 1;
  -moz-appearance: none !important;
  appearance: none;
  overflow: visible;
}
textarea {
  -moz-appearance: none !important;
  appearance: none;
  overflow: auto;
  scrollbar-width: none;
}
textarea::-webkit-scrollbar {
  display: none;
}
[type='button'] {
  -webkit-appearance: button;
  appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner {
  border-style: none;
}
[hidden] {
  display: none;
  opacity: 0;
  visibility: hidden;
}
b {
  font-weight: bold !important;
}
i {
  font-style: italic !important;
}