:root {
    --cor-fundo: #FCFCFC;
    --cor-branco: #ffffff;
    --cor-preto: #000000;
    --cor-preto-footer: #272727;
    --cor-verde: #3b8253;
    --cor-amarela: #efea14;
    --cor-vermelha: #e52f28;
    --cor-cartao: #D7D7D7;
    --cor-noticias : #F2F2F2;
    --cor-descricaoNotia :#3F3F3F;
    --cor-cinza: #CBC8CB;
    --cor-cinza-footer: #333333;
    
    /*Tamanho das fontes */
    --f0: 10px;
    --f1: 12px;
    --f2: 14px;
    --f3: 16px;
    --f4: 25px;
    --f5: 35px;
    --f6: 40px;
    --f7: 52px;
    --f8: 60px;
    --f9: 20px;


}